@model PageModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="container custom-container">
    <div class="form-container">
        <form method="POST" action="/home/index">
            <h4>Calculate Equity</h4>
            <div class="input-container">
                <input class="input" name="sellingprice" placeholder=""/>
                <label class="label" >Selling Price</label>
            </div>

            <div class="input-container">
                <input class="input" name="reservationdate" type="date" />
                <label class="label">Reservation Date</label>
            </div>

            <div class="input-container">
                <input class="input" name="noofterm" placeholder=""/>
                <label class="label" >No. of Term</label>
            </div>

            <input class="btn-submit" type="submit" />
        </form>
    </div>

    <div class="result-container">
        <h4>Result</h4>
        @if(Model.CreateResults.Count() > 0)
        {
            <partial name="_CreateEquityResultPartial" model="@Model.CreateResults" />
        }
    </div>
</div>

<div class="container custom-container">
    <div class="form-container">
        <form method="PUT" action="/home/updateSellingPrice">
            <h4>Update Selling Price</h4>
            <div class="input-container">
                <input class="input" name="id" placeholder="" />
                <label class="label">Id</label>
            </div>

            <div class="input-container">
                <input class="input" name="sellingprice" placeholder="" />
                <label class="label">Selling Price</label>
            </div>

            <input class="btn-submit" type="submit" />
        </form>
    </div>

    <div class="result-container">
        <h4>Result</h4>
        @if(Model.SPUpdateResult is not null)
        {
            <partial name="_UpdateResultPartial" model="@Model.SPUpdateResult" />
        }
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Selling Price</th>
                <th>Reservation Date</th>
                <th>No of Term</th>
                <th>Schedules</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach(var item in Model.Equities.Reverse())
            {
                <partial name="_TableRowPartial" model="@item" />
            }
        </tbody>
    </table>
</div>
